################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AWSServerless2/bin
/src/AWSServerless2/obj
/src/.vs/AWSServerless2
/.vs
